@pos: relative;
@posA: absolute;

.layout{ position: @pos; padding-top: 100px; width: 98%; left: 1%;}

 #ci-cloud, #relation, .footer{ .layout; }

#ci-cloud {
	height:600px;
}

.bg{
	background-size:cover;
	background-image: url("background.png");
	overflow-x: hidden;
	width: 100%;

}

.footer{

	.footer-icon{}
	.copyright{
		width: 50%;
		position: @pos;
		// right: 5%;
	}
}
