@pos: relative;
@posA: absolute;

.layout{ position: @pos; padding: 2% 0; width: 98%; left: 1%;}

 #ci-cloud, #relation, .footer{ .layout; }

.bg{
	background-size:cover;
	background-image: url("background.png");
	overflow-x: hidden;
	width: 100%;
	
	.subtitle{
		text-align: center;
		font-size: 2.9em;
		font-family: "W2";
		color: black;
		margin-top: 40px;
	}

	.title-info{
		text-indent: 2em;
		line-height: 1.7em;
		font-size: 1.5em; 
		width: 900px;

		position: relative; 
		left: 50%;
		margin: 0 0 0 -450px;
		color: #352823;
		font-family: 'W1';
		text-align: justify;
	}
	@media only screen and (max-width: 768px) {
	.subtitle{
		font-size: 1.8em;
		margin: 20px 0px 10px;
	}
    .title-info{
        width: 280px;
        margin-left:-140px;
		font-size: 0.9em;
		line-height: 1.2em;
        }
    }

}

.footer{
	height: 500px;
	position: @pos;
	.footer-icon{
		position: @pos;
		top:10%;
		left:35%;
		width:80%;
	}
	.copyright{
		width: 30%;
		position: @posA;
		right: 15%;
		top: 15%;
	}
	@media only screen and (max-width: 768px) {
		.footer-icon{ img{width: 35%;}}
		.copyright{
			text-align: center;
			width: 90%;
			position: @pos;
			left: 5%;
			font-size: 0.5em;
		}
    }
	
}


