@pos: relative;
@posA: absolute;

.layout{ position: @pos; padding: 2% 0; width: 98%; left: 1%;}

 #ci-cloud, #relation, .footer{ .layout; }

.bg{
	background-size:cover;
	background-image: url("background.jpg");
	overflow-x: hidden;
	width: 100%;
	
	.subtitle{
		text-align: center;
		font-size: 1.8em;
		font-family: "W2";
		color: black;
		margin-top: 40px;
	}

	.title-info{
		text-indent: 2em;
		line-height: 1.7em;
		font-size: 1.2em; 
		width: 900px;

		position: relative; 
		left: 50%;
		margin: 0 0 0 -450px;
		color: #352823;
		font-family: 'W1';
		text-align: justify;
	}
	
	@media only screen and (max-width: 768px) {
	.subtitle{
		font-size: 1.1em;
		margin: 20px 0px 10px;
	}
    .title-info{
        width: 280px;
				margin-left:-140px;
				font-family: 'W1';
			font-size: 1em;
			line-height: 1.8em;
        }
    }

}

.footer{
	height: 500px;
	font-family: 'W1';
	font-size: 1.1em;
	margin-bottom: 20%;
	position: @pos;
	.resources{
		position: @pos;
		width: 42%;
		left: 10%;
		top: 30%;
		a{ color: #71684e}
		a:hover{ color: #352823}

	}
	.footer-icon{
		position: @pos;
		top:10%;
		left:30%;
	}
	.copyright{
		top: 70%;
		width: 35%;
		position: @posA;
		right: 5%;
		line-height: 1.7em;
	}

	@media only screen and (max-width: 767px) {
		.footer-icon{
			top: 2%;
			left:5%;
			margin-bottom: -25%;
			margin-top: 10%;
			margin-left: 16%;
			position: @pos;
			img{
				width: 68%; 
		}}
		.copyright, .resources {
			text-align: left;
			width: 80%;
			position: @pos;
			left: 10%;
			float: left;
			font-size: 0.9em;
			line-height: 1.7em;
		}
		.copyright {
			text-align: center;
			margin-bottom: 15%;
			top: 40%;
		}
    }
	
}


