p.title{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    letter-spacing: 3px;

}

p.chartnote{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: brown;
    font-size: 14px;
    text-align: left;
    letter-spacing: 2px;
    width: 60%;
    padding: 1%;
    margin: 2% 10% 0;

}

div.tooltip{
    background-color: brown;
}