@pos: relative;
.posA{position: absolute}
.Analyze-style{

    width: 100%;
    position: @pos;
    // left: 5%;
    height: 600px;
    margin: 10% 0;

    .cloud-pic{
        .posA;
        left: 5%;
        width: 400px;
        height: 500px;
        img{
            .posA;
            width: 100%;
        }
        .word-style{
            .posA;
            cursor: pointer;
            font-family: 'W9';
            z-index: 15;
        }
        #word{
            &0{ top: 22%; left: 30%; font-size: 3.8rem; }
            &1{ top: 15%; left: 15%; font-size: 3rem; }
            &2{ top: 40%; left: 40%; font-size: 2.8rem; }
            &3{ top: 40%; left: 14%; font-size: 1.8rem; }
            &4{ top: 10%; left: 40%; font-size: 2.6rem; }
            &5{ top: 24%; left: 50%; font-size: 3.2rem; }
            &6{ top: 15%; left: 70%; font-size: 2rem; }
        }
    }
    .ant-carousel{
        .slick-slide{overflow: hidden;}
        .posA;
        right: 10%;
        top: 15%;
        width: 50%;
        color:black;
        .slick-prev, .slick-next{          
            .arrow;
            transition: all 1s ease;
            &:hover{
                .arrow;
                // transform: scale(1.2)
                animation-play-state: paused;
                transform: translate(-10px, 0px)
            }
        }
        .slick-prev, .slick-prev:hover{background-image: url(../style/left.png); }
        .slick-prev{
            width: 160px; 
            height: 45px; 
            top: 40%;
            animation: move-slow 4s ease-in-out infinite;
            @keyframes move-slow {
                0% { transform: translate(0)}
                50% { transform: translate(8px, 8px)}
                100% { transform: translate(0)}
            }

        }
        .slick-next, .slick-next:hover{
            background-image: url(../style/right.png); width:140px; height: 50px; 
            top: 30%; right: 5%;
        }
    }   

    .slick-dots{
        bottom: 20px;
    }
}
.arrow{
    z-index: 10;
    background-repeat: no-repeat;
    background-size: contain;
}
.Info-style{  
        font-family: 'W1';
        .poem{
            width: 55%;
            position: @pos;
            left: 20%;
            font-size: 1.6em;
            text-align: center;
            &_1{
                font-size: 2em;
            }
            &_2{

            }

        }
        .info{
            font-size: 1.4em;
            line-height: 1.4em;
            margin-top: 8%;
            text-indent: 2em;
            text-align: justify;
        }
}

