.font-style{
    text-indent: 2em;
    line-height: 1.8em;
}

.title{
    width: 90%;
    position: relative;
    left: 5%;
    margin: 6% 0%;
    img{
        width: 213px;
        height: 100%;
    }

    .title-text{
        text-align: center;
        font-size: 2.8em; 
        color: rgb(151, 31, 31);
        font-family: 'W2'
    }

    .title-info-style{
        .font-style;
        font-size: 1.2em; 
        width: 850px;
        position: relative;
        left: 50%;
        margin: 1% 0px 0px -425px;
        color: #271e1b;
        font-family: 'W1'
    }

    @media only screen and (max-width: 768px) {
        img{
            width: 80px;
            padding-top: 10%;
        }
        .title-text{
            font-size: 1.8em; 
            line-height: 1.8em;
            padding-top: 3%;
        }
        .title-info-style{
            width: 280px;
            margin-left:-140px;
            font-size: 1em;
            line-height: 1.8em;
            }
        }
    }

