.font-style{
    text-indent: 2em;
    line-height: 1.8em;
}

.title{
    width: 90%;
    position: relative;
    left: 5%;
    margin-top: 15%;
    margin-bottom: 15%;

    .title-text{
        text-align: center;
        font-size: 1.8em; 
        color: rgba(194, 55, 55, 1)
        

    }

    .title-info{
        .font-style;
        width: 80%;
        margin: 3% 10%;
        color: #544734;
    }
}