.links line {
  stroke-opacity: 0.9;
}

.nodes text{
  cursor: default;
}

.femaleName {
  font-family: 'W2'; 
	font-size:120px;
	-webkit-writing-mode: vertical-rl;
	writing-mode: vertical-rl;
}

.description  {
  height:600px;
  width:400px;
  font-family: 'W1';
  font-size:22px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}