@btn-width: 25px;
@margin-left: 5px;

@pos: relative;
@posA: absolute;

// @bg-width: 2746px * 0.45;
// @bg-height: 1372px * 0.45;
// @bg-scale: 2746 / 2355;
@svg-scale: 2355 / 1054 * 100%;
@svg-hscale: 1054 / 1372 * 100%;
@svg-wscale: @svg-scale *  @svg-hscale;

// @left-margin: (100% - @svg-wscale) / 2;
// @top-margin: (100% - @svg-hscale) / 2;

@partH: 50%;
@chartH: 75%;

@fontZW: W1;


.part-style{
    left: 7.5%;
    width: 85%; 
    position: @pos;
    padding-top: 5%;
    margin-bottom: 5%;

    .title-style{
        width: 50%;
        margin: 0 0 -4% 8%;  
        font-size: 2.9em;
        font-family: "W2";
        color: black;
    }

    .choose-style{
        width: 30%;
        right: 8%;
        position: @posA;
        height: 40px;
        z-index: 6;
        .chobtn-style{
            width: 50px;
            height: 100%;
            cursor: pointer;
            transition: all 1s ease-out;
            float: left;
            margin-right: 10px;
            &:hover { transform: scale(1.3) }     
            color: #e9706e;
            font-family: 'W1';
            p{
                text-align: center;
                overflow: hidden;
                img{ width: 100%;
                    filter: drop-shadow(40px 0 #e9706e);
                    position: relative;
                    left: -30px;
                    border-right: 20px solid transparent; }
                line-height: 1em;
                margin: 0px 0px 3px;
                font-size: 12px;
            }

        }
    }
    .chart-style{
        width: 100%;
        left: 0;
        position: @pos;
        svg{
            width: 100%;
            height: 100%;
            text{
                 text-anchor: middle;
                 font-family: 'W1';
                // dominant-baseline: middle; /* 文本垂直居中 */
            }
            position: @pos;
            .group-style{
                circle{cursor: pointer;}
            }
            g.flow-style {                
                circle.backgroud{
                    fill-opacity: 0;
                    fill: rgba(255, 255, 255, 1);
                    pointer-events: none;
                    stroke-width: 0.8px;
                }
                use{
                    cursor: pointer;     
                }
                text.number{ 
                    font-size: 15px;
                    font-family: "W1";
                    opacity: 0;
                    // fill: #645e52;
                }
                text.name{ 
                    font-size: 12px;
                    font-family: "W9";
                    opacity: 0;
                    // fill: #645e52;
                }
                .breath-flow{
                    transform-origin: 18% 20%;
                    // animation: breath-flow 2s ease infinite;
                    @keyframes breath-flow {
                        0% { transform: scale(1)}
                        50% { transform: scale(1.1)}
                        100% { transform: scale(1)}
                    }
                }
            }
        }
    }

    .note-style{
        width: 75%;
        margin: -2% 0 0 15%;
        font-family: W9;
        font-size: 1.2em;
        text-align: justify;
        color: #443832;
    }
    .aside-style{
        width: 20%;
        position: @posA;
        z-index: 4;
    }
}


