@font-face {  
   font-family: 'W9';  
   src:url('./font/宋体.ttf')  
}  

@font-face {  
   font-family: 'W2';  
   src:url('./font/隶书.ttf')  
}  

@font-face {  
   font-family: 'W1';  
   src:url('./font/硬笔简.ttf')  
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'W9';
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}