@font-face {  
   font-family: 'W9';  
   src:url('./font/宋体.ttf')  
}  

@font-face {  
   font-family: 'W2';  
   src:url('./font/隶书.ttf')  
}  

@font-face {  
   font-family: 'W1';  
   src:url('./font/硬笔简.ttf')  
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'W9';
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.links line {
  stroke-opacity: 0.6;
}

.nodes text{
  cursor: default;
  font-family: 'W9';
}

.titleText {
    font-family: 'W2';
    font-size:100px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    opacity:0;
}

.subtitleText {
    font-family: 'W2';
    font-size:60px;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    opacity:0;
}
 
.ink{
  opacity:0;
}

.appendText {
  opacity:0;
  height:600px;
  width:400px;
  font-family: 'W1';
  font-size:28px;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}

