@font-face {
  font-family: 'W2';
  src: url('./font/HuaKangJianBiaoTiSong.ttf');
}

@font-face {  
   font-family: 'W1';  
   src:url('./font/W7.eot');
   src:
   url('./font/W7.eot?#font-spider') format('embedded-opentype'),
   url('./font/W7.woff') format('woff'),
   url('./font/W7.ttf') format('truetype'),
   url('./font/W7.svg') format('svg');
 font-weight: normal;
 font-style: normal;
} 

body {
  margin: 0;
  padding: 0;
  font-family: 'W1';
  -webkit-user-select:none;
  -moz-user-select:none;
  -ms-user-select:none;
  user-select:none;
}

.t {
  font-family: 'W1';
}